body {
  border: 0;
  color: #555;
  width: 600px;
  padding: 0 5px;
  margin: 5px auto;
}

p, body, input, label, select {
  font-size: 12px;
  font-family: arial, sans-serif;
}

table {
  border: 0;
  width: 100%;
  color: #555;
  margin: auto;
  padding: 10px 5px;
  border-spacing: 0;
}

table tr td {
  height: 28px;
}

p, label {
  margin: 0;
  border: 0;
  padding: 0;
  color: #333;
  user-select: none;
}

select {
  width: 100%;
  color: #555;
  margin: auto;
  height: 32px;
  cursor: pointer;
  box-shadow: none;
  padding: 0 0 0 5px;
  border: solid 1px rgba(0,0,0,0.1);
}

input[type="checkbox"] {
  margin: 0;
  float: right;
  vertical-align: middle;
}

input[type="button"] {
  margin: 0;
  width: 100%;
  color: #555;
  padding: 8px 0;
  cursor: pointer;
  box-shadow: none;
  background: #fff;
  transition: 300ms ease all;
  border: solid 1px rgba(0,0,0,0.1);
}

.note p {
  color: #777;
  font-size: 11px;
  font-family: arial, sans-serif;
}

.checkbox, .select {
  margin-bottom: 10px;
  border-bottom: solid 1px rgba(0,0,0,0.1);
}
